html{
    position: relative;
    padding: 0.2em 0.5em;
    background: -webkit-linear-gradient(to right, rgb(204, 241, 255), #f4feff);
    background: linear-gradient(to right, rgb(204, 241, 255), #f4feff);
    color:black;
    font-weight: lighter;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
}
h1{
    color: #6cb4e4;
    text-align: center;
    padding: 0.6em;
    margin-top:40px;
    border-top: solid 2px #6cb4e4;
    border-bottom: solid 2px #6cb4e4;
    
}
img{
    float:left;
}
div.b,div.d{
    display:grid;
    grid-template-columns:1fr 5fr;
    grid-gap:0px;
    width:100%;
}
.a,.e{
    position:relative;
    height:auto;
    margin:auto;
}
.a img.c{
    width:13.94px;
    height:16.91px;
    position:absolute;
    transform:translate(-50%,-50%);
}
img.c:hover,li:hover{
    opacity:0.7;
    cursor:pointer;
}
img[name = Cairo]{
    top:53%;
    left:15%;
}
img[name = Moscow]{
    top:35%;
    left:18%;
}
img[name = Johannesburg]{
    top:74%;
    left:15%;
}
img[name = Beijing]{
    top:47%;
    left:39%;
}
img[name = Tokyo]{
    top:48%;
    left:46%;
}
img[name = Singapore]{
    top:64%;
    left:36%;
}
img[name = Sydney]{
    top:77%;
    left:49%;
}
img[name = London]{
    top:38%;
    left:7.7%;
}
img[name = Paris]{
    top:42%;
    left:8%;
}
img[name = RiodeJaneiro]{
    top:72%;
    left:94%;
}
img[name = NewYork]{
    top:44%;
    left:86%;
}
img[name = LosAngeles]{
    top:46%;
    left:74%;
}
div.f{
    font-size: 160%;
}