html{
    font-size: 15px;
    background-color:aliceblue;
}
h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: dotted 10px black;
}
h2{
    padding-left: 30px;
    padding-right: 30px;
}
h3{
    padding-left: 50px;
    padding-right: 50px;
}
h4{
    padding-left: 70px;
    padding-right: 70px;
}
p{
    padding-left: 90px;
    padding-right: 90px;
}
ol{
    padding-left: 110px;
    padding-right: 110px;
}